<h1>Pizza Shop!</h1>
<p>Welcome to your new web site</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
<p>
  # Webroot Pizza Shop

  Disfruta Nuestras Pizzas Recién Preparadas A Un Precio Accesible. Ordénala Online Hoy! Amazing toppings. Great deals online. Contactless Carryout. Curbside Pickup. Hand-tossed crust. Speedy delivery. Contactless Delivery. Types: Cheese, Pepperoni, Meat Lover's®.

  </p>
<p>
  ## Development server

  Run `ng serve` for a dev server. Navigate to `http://localhost:4200/`. The app will automatically reload if you change any of the source files.
  </p>
<p>
  ## Details

  Pizza Shop es una cadena de restaurante de pizzas de comida rápida estadounidense con sede en Plano, Texas subsidiaria del grupo Yum! Brands. Es conocido por su menú italoamericano de cocina que incluye pizza y pasta, así como guarniciones y postres. Fundada por Dan y Frank Carney
</p>
